.dik {
    font-weight: bold;
    text-align: center;
    font-size: 5rem;
}

#image1 {
    position: relative;
    left: 33rem;
    width:500px;
    height:500px;
    top:-2rem;

    margin: auto;
    display: flex;
}
.leftbig {
    font-size: 1.7rem;
   position: relative;
   top: -35rem;
}
.leftbig1 {
    font-size: 1.7rem;
    position: relative;
    top:-32rem;
    left: -17.6rem;
    
}

.upper_right {
    text-align: right;
    position: relative;
    top:-30rem;
    border: 5px thin;

border-radius: 5px;

}
ul {
    text-align: right;
    position: relative;
    top:-30rem;
 
   
}



body {
    user-select: none;
}

.imgdiv {
    width: 700px;
    height: 700px;
    position: relative;
    left:-8rem;
}

#image1:active {
    width: 480px;
    height: 480px;
}
