.dik {
    font-weight: bold;
    text-align: center;
    font-size: 5rem;
}

#image1 {
    position: relative;
    left: 33rem;
    width:500px;
    height:500px;
    top:-2rem;
}
.leftbig {
    font-size: 1.7rem;
    position: relative;
    left: -19rem;
    top: -35rem;
    
}
.leftbig1 {
    font-size: 1.7rem;
    position: relative;
    left: -41rem;
    top: -32rem;
    
}

.upper_right {
    text-align: right;
    position: relative;
    top:-30rem;
    border: 5px thin;

border-radius: 5px;

}
ul {
    text-align: right;
    position: relative;
    top:-30rem;
 
   
}



body {
    user-select: none;
}
